### Maven ###
target/
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.conf
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/
*.iws
*.iml
*.ipr
*.log

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS / Windows ###
.DS_Store
Thumbs.db

### Maven release ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
